<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="classes">
  <parameter name="browserName" value="chorme"></parameter>
  <test name="Test">
    <classes>
      <class name="zlst.script.TestSuite"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
